 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 html {
     font-family: "Montserrat", sans-serif;
 }

 body {
     background: #eee;
     padding: 0 16px;

 }

 .head {
     background-color: #f5ba13;
     margin: auto -16px;
     padding: 16px 32px;
     box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
     color: #fff;
     font-family: "McLaren", cursive;
     font-weight: 200;
 }

 .box {
     width: 500px;
     height: 150px;
     box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
     border-radius: 10px;
     margin: 30px;
     background: #fff;
     padding: 20px;
     display: flex;
     position: relative;
     flex-direction: column;
     align-items: center;
 }

 .container {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 input {
     width: 100%;
     border: none;
     outline: none;
     margin-bottom: 10px;
     border: none;
     padding: 4px;
     outline: none;
     font-size: 1.2em;
     font-family: inherit;
     resize: none;
 }

 .i1 {
     padding: 5px;
     border: none;
 }

 .i2 {
     height: 100px;
     padding: 5px;
     border: none;
 }

 .b1 {
     position: absolute;
     background: #f5ba13;
     color: #fff;
     border: none;
     border-radius: 50%;
     width: 36px;
     height: 36px;
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
     cursor: pointer;
     outline: none;
     right: 30px;
     bottom: -20px;
 }

 .noteh {
     font-size: 1.1em;
     margin-bottom: 6px;
 }

 .notep {
     font-size: 1.1em;
     margin-bottom: 10px;
     white-space: pre-wrap;
     word-wrap: break-word;
 }

 .note {
     background: #fff;
     border-radius: 7px;
     box-shadow: 0 2px 5px #ccc;
     padding: 10px;
     width: 240px;
     margin: 16px;
     float: left;
 }

 .note button {
     position: relative;
     float: right;
     margin-right: 10px;
     color: #f5ba13;
     border: none;
     width: 36px;
     height: 36px;
     cursor: pointer;
     outline: none;
 }